body { 
	color: #421; font-weight: bold; font-size: 18px; font-family: "Courier New"; background: rgb(200, 232, 241); background-image: url("bot.png"); background-repeat: repeat-y; 
}
span { 
	color: rgb(36, 17, 119); 
} 
::-webkit-input-placeholder { 
	color: #711 
}
#main { 
	position: fixed; top: 40%; right: 200px; width: 400px; 
	border: 0px solid #421; padding: 40px; 
}
#main div { 
	margin: 10px; 
} 
#input { 
	border: 0; background: rgb(235, 234, 221); padding: 5px; border: 1px solid #421; 
}